.navbar {
	display: flex;
	align-items: center;
	position: fixed;
	/* position: relative; */
	/* position: sticky; */
	top: 0;
	/* margin-top: 1px; */
	z-index: 1;

	max-width: 1400px;
	width: 100vw;
	/* height: 4rem; */
	height: clamp(3.5rem, 4.5rem, 100px);
	height: 12vh;
	margin: auto;
	border-bottom: 1px solid hsl(180 65% 65% / 0.1);

	background: rgba(255, 255, 255, 0.2); /* White color with 80% opacity */
	backdrop-filter: blur(1px); /* Apply a blur effect to mimic frosted glass */

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow for depth */
	padding: 0.5rem; /* Optional: Add padding for content inside the container */
	filter: brightness(1.2);
	/* opacity: 1; */
	transition: opacity 1s ease-in-out;
}
.opacity_0 {
	/* animation: opacity 1s forwards; */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.opacity_1 {
	/* animation: opacity 1s forwards; */
	opacity: 1;
	transition: opacity 1s ease-in-out;
}
@keyframes opacity {
	to {
		/* opacity: 0; */
	}
}
.navbar__logo {
	/* position: relative; */
	display: grid;
}
.navbar__logo > img {
	grid-column: 1/1;
	grid-row: 1/1;
	width: 8vh;
	cursor: pointer;
	/* position: relative; */
}
.navbar__logo > img:nth-child(2) {
	/* left: -52%; */
	opacity: 0;
	transition: opacity 0.3s;
}
.navbar__logo > img:nth-child(2):hover {
	opacity: 1;
}
.main {
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
}
.header {
	/* flex-grow: 1; */
	/* flex-shrink: 0; */
	/* flex-basis: 100svh; */
	height: 100vh;
	display: grid;
	grid-template-rows: clamp(4.5rem, 5.7rem, 150px) auto 5rem;
	grid-template-rows: 1fr 3fr 2fr;
	grid-template-rows: 2fr 74vh 1fr;
	/* background-image: url(./assets/img/nightCity_sm_compress.jpg); */
	/* background: hsl(208 50% 30% / 1) url(./assets/img/nightCity_sm_compress.jpg); */
	background: url(../assets/img/nightCity_sm_compress.jpg),
		url(../assets/img/nightCity_sm_compress.jpg);
	/* background: hsl(320 50% 50% / 1), url(./assets/img/nightCity_sm_compress.jpg); */

	background-size: cover, contain;
	/* background-size: contain; */
	/* background-size: 100% auto; */
	background-repeat: no-repeat;
	/* background-position: center; */
	/* background-attachment: fixed; */
	/* height: 100vh; */
	/* padding: 5.5rem 0rem 2rem 0rem; */
	/* filter: brightness(1.1); */
}
.header__grid {
	grid-row: 2/3;
	max-width: 80%;
	display: grid;
	gap: 1rem;
	grid-template-columns: minmax(150px, 30%) auto;
	grid-template-columns: 1.2fr 2fr;
	/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
	grid-template-rows: 40vmin auto;

	position: relative;
	left: 2rem;
	height: 100%;

	padding: 1rem;

	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(0, 0, 70, 0.2);
	backdrop-filter: blur(2px);

	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: inset 2px 2px 400px hsl(200deg 50% 0% / 0.5);
}
.header__grid div {
	/* border: 1px solid orangered; */
}

.header__pipesImage {
	background: url(../assets/img/pipes.jpg);
	background-size: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/* max-width: 35%; */

	border-radius: 0.5rem;
	filter: drop-shadow(3px 4px 7px hsl(209deg 50% 3% / 0.6));
	box-shadow: inset 12px 12px 120px hsl(300 50% 100% / 0.25);

	position: relative;
	overflow: hidden;

	grid-row: 1 / 3;
	aspect-ratio: 1/1;
}
.header__pipesImage img {
	display: block;
	width: 100%;
}
.header__pipesImage::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: hsl(40 79% 87% / 1);
	opacity: 0.3;
	transition: all 0.2s;
	/* transform: translateX(-100%) skewX(-20deg); */
	transform: translateX(-110%) translateY(50%) skewX(45deg);
}
.header__pipesImage:hover::before {
	opacity: 0.4;
	transform: translateX(170%) translateY(-70%) skewX(45deg);
}
.header__grid h1 {
	align-self: center;
	text-align: center;
	/* from w3.org */
	/*
	font-size: 2.625rem;
	for mobile 2.0625rem
	*/
	font-size: clamp(2.0625rem, 1.7707rem + 0.8652vw, 2.625rem);
	padding: 0.5rem 0;
	text-shadow: 0 1px hsl(200 50% 1% / 1);
}
.header__grid h3 {
	padding: 0.3rem;
	font-size: 0.7rem;
	grid-column: span 2;
	/* padding: 0.5rem; */
	justify-self: center;
	text-align: center;
}
.header__titles {
	& hr {
		margin-bottom: 0.4rem;
	}
}
.header__callLink {
	justify-self: center;
	align-self: center;
	font-size: 0.7rem;
	position: relative;
	display: grid;
	place-content: center;
	/* height: 100%; */
	border: 1px solid #0360df;
	border-radius: 50px;
	/* margin-inline: 0.8rem; */
	/* padding: 8px 16px; */
	padding: 0.3rem 1rem;
	min-width: 8em;
	/* height: min-content; */
	background-color: #0360df;
	background-image: radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
		radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
	box-shadow: inset 0 -2px 4px 1px rgba(17, 110, 231, 0.6),
		inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
		inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
		0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 1px #116ee7;
	/* transition-property: border-color, transform, background-color;
	transition-duration: 0.2s; */
	grid-column: 2/3;

	&::after {
		content: "";
		position: absolute;
		top: 1px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50px;
		width: 80%;
		height: 40%;
		background-image: linear-gradient(to bottom, #f4feff, transparent);
		opacity: 0.75;
	}

	&:hover {
	}

	&:active {
		border-color: #0048d5;
		/* transform: scale(0.96); */
		background-color: #0048d5;
	}
	& a {
		position: relative;
		z-index: 1;
		text-decoration: none;
		display: block;
		transition: none;
		height: unset;
		letter-spacing: 0.05em;
	}
	& a:hover {
		transition-property: border-color, transform, background-color;
		transition-duration: 0.3s;
		transform: scale(1.04);
	}
}
.section {
	background: hsl(229 64% 9% / 1);
}
.services__details {
	display: flex;
	border: 2px solid orangered;
	padding: 1rem;
}
