:root {
	--font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
	--font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
	--font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
	--font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
	--font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
	--font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
	--font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);

	--height-svh: 100svh;
	--height-svh: 100dvh;
	font-size: calc(15px + 0.390625vw);
	font-size: calc(14px + 0.390625vw);
	font-size: calc(10px + 0.790625vw);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	/* color: #469be0; */
	color: white;
}
body {
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}
.main {
	max-width: 1400px;
	margin: auto;
	height: var(--height-svh);
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: auto;
}
.main::-webkit-scrollbar {
	display: none;
}
.main > * {
	scroll-snap-align: center;
	height: var(--height-svh);
}
.header {
	background-image: url(./assets/img/nightCity.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: var(--height-svh);

	/* display: flex; */
	/* display: grid; */
	padding: 3rem;
}
.header > section {
	/* flex: 1; */
}
.header .header__left {
	/* flex-basis: 65%; */
}
.header__left,
.header__right {
	/* padding: 8rem 4rem; */
	/* display: grid; */
}
.header__left {
	width: min-content;
	width: 65%;
	width: fit-content;
	margin-right: 30%;
	display: grid;
	gap: 1rem;
	grid-template-columns: 30% 70%;
	grid-template-columns: 30% min-content;

	display: flex;
	flex-wrap: wrap;
	/* position: relative; */
	/* margin: 1rem 1rem 0 1rem; */

	padding: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(0, 0, 70, 0.2);
	backdrop-filter: blur(2px);
	/* box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.3),
		inset 2px 2px 1px rgba(0, 0, 0, 0.3); */

	border: 1px solid rgba(255, 255, 255, 0.25);

	/* box-shadow: 2px 2px 1px 0px hsl(210deg 20% 100% / 0.6),
		inset 2px 2px 400px hsl(200deg 50% 0% / 0.5); */
	box-shadow: 1px 1px 0px 0px hsl(210deg 50% 85% / 0.2),
		2px 2px 2px 2px hsl(200deg 70% 30% / 0.6),
		inset 2px 2px 400px hsl(200deg 50% 0% / 0.5);
}

.header__left > div:has(h1::hover) .header__left--pipesImage {
	/* width: 50%; */
}

.header__left h1 {
	cursor: pointer;
	font-size: 2rem;
	/* font-size: var(--font-size-1); */
	font-size: 1.8rem;
	margin-bottom: 1rem;
	position: relative;
}
.header__left h1::after {
	content: "Я, Дмитрий \2014 профессиональный мастер-сантехник.";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	color: gold;
	opacity: 0;
}
.header__left h1:hover {
	/* color: gold; */
}

.hover:has(h1:hover) h1::after {
	/* .header__left h1 */
	animation: h11 0.6s linear both;
	-webkit-animation: h11 0.3s linear both;
}
@keyframes h11 {
	0% {
		/* width: 0%; */
	}

	50% {
		/* width: 100%; */
		opacity: 1;
	}
	75% {
		/* opacity: 0; */
	}
	100% {
		/* width: 100%; */
		opacity: 0;
	}
}
.header__left {
	color: white;
}
.header__left h2 {
	grid-column: span 2;
	font-size: 1.5rem;
}
.header__left img {
	/* display: block; */
	/* width: 30%; */
	/* aspect-ratio: 1/1; */
	/* border-radius: 50%; */
	/* height: 30%; */
	/* float: left;
	max-width: 25%;
	margin-right: 1rem; */
	/* position: absolute; */
	/* right: 10%; */
	/* bottom: 10%; */
	/* width: 25%; */
}
.header__left--pipesImage {
	width: 80%;
	background: url(./assets/img/plumbing_pipes_with_gold_clamps_in_steel_blue_st.jpg);
	background-size: cover;
	/* padding: 2rem; */
	/* overflow: hidden; */
	border-radius: 0.5rem;
	filter: drop-shadow(1px 2px 3px hsl(209deg 20% 50% / 0.5));
	filter: drop-shadow(2px 3px 4px hsl(209deg 50% 10% / 0.7));
	position: relative;
}
.header__left--pipesImage::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(./assets/img/sparkles_1.jpg);
	background-size: cover;
	opacity: 0;
	animation: sparkles 3s infinite;
}
@keyframes sparkles {
	50% {
	}
	50% {
		opacity: 1;
	}
	50% {
	}
}
.header__callLink {
	/* text-decoration: none; */
	/* color: white; */
	/* font-weight: bold; */
	padding: 1rem;
	display: block;
	border: 2px solid greenyellow;
	border-radius: 50%;
	width: fit-content;
	aspect-ratio: 1/1;
	display: grid;
	place-content: center;
}
.header__callLink > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	/* padding: 1rem; */
	/* display: block; */
	/* border: 2px solid greenyellow; */
	/* width: fit-content; */
}
