@media (width < 750px) {
	body {
		background-position: 0 0;
	}
	.header__pipesImage {
		grid-column: span 2;
		width: 150px;
		width: 70%;
	}
	.header__grid {
		max-width: unset;
		width: 80%;
		margin: auto;
		/* min-height: -webkit-fill-available; */
		/* margin-bottom: 6rem; */
	}
	.header__grid {
		& h1 {
			grid-column-start: span 2;
			font-size: 2rem;
		}
	}
	.header__grid > h3 {
		/* grid-column: span 2; */
		font-size: 1.5rem;
	}
}
@media (width < 560px) {
	body {
		/* background-position: 50% 50%; */
		background-position: 0% 0%;
	}
	.header {
		background-position: 50% 50%;
	}
	.header__grid {
		max-width: unset;
		width: 90%;
	}
	.header__grid > h1 {
		font-size: 1.5rem;
	}
	.header__grid > h3 {
		/* grid-column: span 2; */
		font-size: 1rem;
	}
}
