.my-flex-cont1 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-content: center;
}
.my-flex-box1 {
	margin: 5px;
	padding: 5px;
	border: solid 1px #6b8e23;
}
